@page
@model RazorPageWatches.Pages.Watches.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Watch</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.Price)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Watch.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
