@page
@model RazorPageWatches.Pages.Watches.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Watch</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Watch.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Watch.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Watch.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
